{
  "extends": "react-app",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/jsx-no-target-blank": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
