.expand-button {
  font-size: 24px;
  width: max-content;
  padding: 4px;
  margin-right: 8px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: LightGray;
  }
}

.expand-button .tooltip {
  visibility: hidden;
  background-color: white;
  color: #333;
  text-align: center;
  border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  box-shadow: 2px 2px 1px silver;

  /* Position the tooltip */
  position: absolute;
  margin-top: 40px;
  z-index: 100;
}

.expand-button:hover .tooltip {
  visibility: visible;
}

.handle {  
  flex-direction: row;
}
